body {
    background-image: url('./todo2.png');
    background-repeat: no-repeat;
    background-size: 100%;
    /* overflow-x: hidden; */
}

header {
    font-family: -apple-system;
    font-size: 45px;
    color: aqua;
    font-weight: bold;
    text-align: center;
    /* border: 1px solid red; */
    height: 80px;
}

.input {
    display: flex;
    justify-content: center;

}

.inputBox {
    width: 30%;
    height: 30px;
}

.liButtons{
display: flex;
justify-content: flex-end
}

ul li input[type=text] {
    display: none;
  }
  
  ul li.editMode input[type=text] {
    display: inline-block;

  }
  
  ul li.editMode label {
    display: none;
}
input[type=checkbox]:checked + label {
    text-decoration: line-through;
    color: red;
  }
.inputButton{
    display: flex;
    text-align: center;
    align-items: flex-end;
    width: 08%;
    margin-left: 5px;
    align-items: center;
    font-weight: 500;
}

/* button {
    background: none;
    border: 0px;
    color: #888;
    font-size: 15px;
    width: 60px;
    margin: 10px 0 0;
    font-family: Lato, sans-serif;
    cursor: pointer;
  } */
.inputButton:hover {
    color: #333;
}

#todos {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

/* ul {
    width: 75%;
} */

.remove {
    float: right;
}

li {
    list-style: none;
    width: 800px;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
    color: whitesmoke;
    border: 1px solid rgba(211, 99, 87, 0.651);
    padding: 10px;
    height: auto;
    overflow: hidden;
    word-wrap: break-word;
}
h4{
    text-align:center;
}